<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sample Invoice</title>
</head>
<body>
  <h1>Sample Invoice</h1>
  <p>Invoice ID: <%= id %></p>
  <p>Invoice Date: <%= date %></p>
  <p>Invoice Amount: <%= amount %></p>
  
</body>
</html>